#dt-user-sidebar {
  width: 300px;
  background-color: #90f6ee;
  text-align: center;
  height: 100vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: auto;
  .dt-user-avatar
  {
    width: 150px;
    height: 150px;
   // background-color: black;
    margin-left: auto;
    margin-right: auto;
    .image {
      overflow: hidden;
      object-fit: cover;
      border-radius: 50%;
      max-width:100%;
      max-height:100%;
    }
    img {
      display: inline;
      margin: 0 auto;

    }
  }
  .user-realname {

  }
  .dt-sidebar-button {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-align: left;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 15pt;

    i {
      min-width: 25px;
      margin-right: 3%;
      top: 50%;
      position: relative;
      transform: translateY(12%);
    }
  }
  .dt-sidebar-button:hover {
    background: radial-gradient(ellipse, rgba(255,255,255,1) 1%, rgba(144,246,238,1) 100%);
  }

  .dt-sidebar-separator {
    margin-left: 15%;
    margin-top: 5%;
    margin-right: 15%;
    height: 4px;
    border-radius: 2px;
    background-color: black;
  }
}
