<div id="dt-user-sidebar">
  <br>
  <div class="dt-user-avatar">
    <img class="image" src="assets/diabetes-assistant.png">
  </div>
  <br>
  <h4 class="user-realname">{{user.firstname}} {{user.lastname}}</h4>
  <div class="dt-sidebar-button" (click)="logoutHandler()">
    <i class="fas fa-sign-out-alt"></i>
    <span>Wyloguj</span>
  </div>
  <div class="dt-sidebar-button" routerLink="/dashboard/settings">
    <i class="fas fa-user-cog"></i>
    <span>Ustawienia</span>
  </div>
<!--  <div class="dt-sidebar-button">-->
<!--    <i class="far fa-bell"></i>-->
<!--    <span>Powiadomienia</span>-->
<!--  </div>-->
  <div class="dt-sidebar-separator">
    &nbsp;
  </div>
  <div class="dt-sidebar-button" routerLink="/dashboard/home">
    <i class="fas fa-home"></i>
    <span>Strona startowa</span>
  </div>

  <div class="dt-sidebar-button" routerLink="/dashboard/new-measurement">
    <i class="fas fa-plus"></i>
    <span>Nowy pomiar</span>
  </div>
  <div class="dt-sidebar-button" routerLink="/dashboard/schedule">
    <i class="far fa-clock"></i>
    <span>Harmonogram</span>
  </div>
  <div class="dt-sidebar-button" routerLink="/dashboard/history">
    <i class="fas fa-clipboard-list"></i>
    <span>Historia badań</span>
  </div>
  <div class="dt-sidebar-button" routerLink="/dashboard/reports">
    <i class="fas fa-notes-medical"></i>
    <span>Raporty</span>
  </div>


</div>
