<div id="dt-register-container">
  <div class="alert alert-success" *ngIf="registrationSuccess">Rejestracja zakończona powodzeniem. W ciągu 5 sekund nastąpi przekierowanie do interfejsu pacjenta.</div>
  <div class="alert alert-danger" *ngIf="registrationFailure">Rejestracja zakończona niepowodzeniem. Sprawdź poprawność wpisanych danych.</div>
  <div class="dt-register-navbar">

  </div>
  <form class="dt-register-form" [formGroup]="registerFormValidation">
    <h1>Zarejestruj się</h1>
    <ng-container *ngIf="registerStage===1">
      <div class="register-form-item form-group">
        <label for="registerInputEmail">Adres e-mail</label>
        <input type="email" formControlName="email" class="form-control" id="registerInputEmail" (change)="validateEmail()" required/>
        <small class="form-error-small" *ngIf="validateField('email')">Nieprawidłowy email</small>
        <small class="form-error-small" *ngIf="emailValidationDto.isFree === false">Email już jest zajęty!</small>
      </div>
      <div class="register-form-item form-group">
        <label for="register-input-password">Hasło</label>
        <input type="password" formControlName="password" class="form-control" id="register-input-password"/>
        <small class="form-error-small" *ngIf="validateField('password', 'required')">Pole wymagane</small>
        <small class="form-error-small" *ngIf="validateField('password', 'minlength')">Hasło powinno mieć minimalnie 8 znaków.</small>
        <small class="form-error-small" *ngIf="validateField('password', 'maxlength')">Hasło powinno mieć maksymalnie 32 znaki</small>
      </div>
      <div class="register-form-item form-group">
        <label for="register-input-password-confirm">Powtórz hasło</label>
        <input type="password" formControlName="confirm_password"  class="form-control" id="register-input-password-confirm"/>
        <small class="form-error-small" *ngIf="registerFormValidation.errors?.mismatch">Hasła się nie pokrywają.</small>
      </div>
    </ng-container>
    <ng-container *ngIf="registerStage===2">
      <div class="register-form-item form-group">
        <label for="register-input-firstname">Imię</label>
        <input type="text" formControlName="firstname" class="form-control" id="register-input-firstname"/>
      </div>
      <div class="register-form-item form-group">
        <label for="register-input-lastname">Nazwisko</label>
        <input type="text" formControlName="lastname" class="form-control" id="register-input-lastname"/>
      </div>
      <div class="register-form-item form-group">
        <label for="register-input-phone">Numer telefonu</label>
        <input type="tel" formControlName="phone_number" class="form-control" id="register-input-phone"/>
      </div>
    </ng-container>
    <ng-container *ngIf="registerStage===3">
      <div class="register-form-item form-group">
        <label for="register-select-unit">Jednostka miary glukozy</label>
        <select class="form-control" id="register-select-unit" formControlName="default_glucose_unit">
          <option value="mgPerDL">Miligramy na decylitr [mg/dL]</option>
          <option value="mmolPerL">Milimole na litr [mmol/L]</option>
        </select>
      </div>
      <div class="register-form-item form-check">
        <label for="checkbox-patient-settings" class="form-check-label">Pokaż ustawienia pacjenta</label>
        <input type="checkbox" id="checkbox-patient-settings" class="form-check-input" [(ngModel)]="showPatientSettings" [ngModelOptions]="{standalone: true}"/>
      </div>
      <ng-container *ngIf="showPatientSettings" formGroupName="patient_settings">
        <div class="register-form-item form-group">
          <label for="report-type-select">Raportowanie</label>
          <select class="form-control" id="report-type-select" formControlName="reportType">
            <option value="PERIODIC_REPORT">Okresowe</option>
            <option value="MANUAL_REPORT">Ręcznie wyzwalane</option>
          </select>
        </div>
        <div class="register-form-item form-group">
          <label for="report-period-select">Okres raportowania</label>
          <select class="form-control" id="report-period-select" formControlName="reportPeriod">
            <option value="WEEKLY">Tygodniowy</option>
            <option value="MONTHLY">Miesięczny</option>
            <option value="QUARTERLY">Kwartalny</option>
            <option value="ANNUAL">Roczny</option>
          </select>
        </div>
<!--        <div class="register-form-item form-group">-->
<!--          <label for="doctor-email-input">Email osoby nadzorującej leczenie</label>-->
<!--          <input type="email" id="doctor-email-input" class="form-control" formControlName="doctorEmail"/>-->
<!--        </div>-->
        <div class="register-form-item form-group">
          <label for="timewindow-input">Okno czasowe dla pomiaru (minuty)</label>
          <input type="number" id="timewindow-input" class="form-control" formControlName="timeWindow"/>
        </div>
        <div class="register-form-item form-group">
          <input type="checkbox" class="form-check-input" id="include-blood-pressure" formControlName="includeBloodPressure"/>
          <label for="include-blood-pressure" class="form-check-label">Badane ciśnienie krwi?</label>
        </div>
      </ng-container>
    </ng-container>
    <div class="register-form-buttons form-group">
      <button routerLink="/login" class="btn btn-primary btn-info"  *ngIf="registerStage===1">Powrót do logowania <i class="fas fa-sign-in-alt"></i></button>
      <button class="btn btn-info" *ngIf="registerStage>1" (click)="previousButtonHandler()">
        <i class="fas fa-arrow-left"></i>&nbsp;
        <span>Wróć</span>
      </button>&nbsp;
      <button class="btn btn-info"
              *ngIf="registerStage===1"
              (click)="nextButtonHandler()"
              [disabled]="!areFieldsValid(['email', 'password']) || registerFormValidation.errors?.mismatch">
        <span>Dalej</span>&nbsp;
        <i class="fas fa-arrow-right"></i>
      </button>
      <button class="btn btn-info"
              *ngIf="registerStage===2"
              (click)="nextButtonHandler()"
              [disabled]="!areFieldsValid(['firstname','lastname','phone_number'])">
        <span>Dalej</span>&nbsp;
        <i class="fas fa-arrow-right"></i>
      </button>
      <button class="btn btn-info" *ngIf="registerStage===3" (click)="nextButtonHandler()">
        <span>Dalej</span>&nbsp;
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <div class="register-form-item form-group" *ngIf="registerStage===3">
      <button class="btn btn-success" (click)="registerButtonHandler()">Zarejestruj się</button>
    </div>
  </form>
</div>
