#dt-register-container {
  .alert {
    text-align: center!important;
  }

  .dt-register-form {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    //min-height: 63vh;
    background-image: linear-gradient(to bottom right, lightblue, white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
      padding-top: 3%;
    }
    .register-form-item {
      display: flex;
      flex-direction: column;
      margin-left: 6%;
      margin-right: 6%;
    }
    .register-form-buttons {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3%;

    }
  }
}
