<div class="alert alert-success alert-center" *ngIf="settingsSaveSuccess">
  Ustawienia zapisane.
</div>
<div class="alert alert-danger alert-center" *ngIf="settingsSaveFailure">
  Niepowodzenie w zapisaniu ustawień.
</div>
<div id="dt-settings">
  <div class="dt-settings-form">
    <form class="dt-setings-panel" [formGroup]="userProfileForm">
      <h1>Profil</h1>
      <div class="dt-settings-option form-group">
        <label for="input-profile-firstname">Imię</label>
        <input type="text" class="form-control" id="input-profile-firstname" formControlName="firstname"/>
        <small class="form-error-small" *ngIf="validateProfileField('firstname')">Firstname is required.</small>
      </div>
      <div class="dt-settings-option form-group">
        <label for="input-profile-lastname">Nazwisko</label>
        <input type="text" class="form-control" id="input-profile-lastname" formControlName="lastname"/>
        <small class="form-error-small" *ngIf="validateProfileField('lastname')">Lastname is required.</small>
      </div>
      <div class="dt-settings-option form-group">
        <label for="input-profile-email">Adres e-mail</label>
        <input type="email" class="form-control" id="input-profile-email" formControlName="email" (change)="validateEmail()"/>
        <small class="form-error-small" *ngIf="validateProfileField('email', 'required')">Email is required</small>
        <small class="form-error-small" *ngIf="validateProfileField('email', 'email')">Invalid email.</small>
        <small class="form-error-small" *ngIf="!emailValidationDto.isFree">Adres email jest już w użyciu.</small>
      </div>
      <div class="dt-settings-option form-group">
        <label for="input-profile-phone">Numer telefonu</label>
        <input type="tel" class="form-control" id="input-profile-phone" formControlName="phoneNumber" placeholder="Np. 111222333"/>
        <small class="form-error-small" *ngIf="validateProfileField('phoneNumber')">Numer telefonu musi składać się z dziewięciu cyfr.</small>
      </div>
      <div class="dt-settings-option form-group">
        <label for="input-profile-default-glucose-unit">Używana jednostka miary glukozy</label>
        <select id="input-profile-default-glucose-unit" class="form-control" formControlName="default_glucose_unit">
          <option value="mgPerDL">[mg/dL] Miligramy na decylitr</option>
          <option value="mmolPerL">[mmol/L] Milimole na litr</option>
        </select>
      </div>
      <div class="dt-settings-buttons form-group">
        <button class="btn btn-success" (click)="postProfileHandler()" [disabled]="!areProfileFieldsValid(['email', 'firstname', 'lastname', 'phoneNumber', 'default_glucose_unit']) || !emailValidationDto.isFree">Zatwierdź</button>
      </div>
    </form>
  </div>
  <div class="dt-settings-form" *ngIf="userBrief.role === 'PATIENT'">
    <form class="dt-settings-panel" [formGroup]="settingsForm">
      <h1>Ustawienia aplikacji</h1>
      <div class="dt-settings-option form-group">
        <label for="report-type-select">Raportowanie</label>
        <select class="form-control" id="report-type-select" formControlName="reportType">
          <option value="PERIODIC_REPORT">Okresowe</option>
          <option value="MANUAL_REPORT">Ręcznie wyzwalane</option>
        </select>
      </div>
      <div class="dt-settings-option form-group" *ngIf="settingsForm.get('reportType').value === 'PERIODIC_REPORT'">
        <label for="report-period-select">Okres raportowania</label>
        <select class="form-control" id="report-period-select" formControlName="reportPeriod">
          <option value="WEEKLY">Tygodniowy</option>
          <option value="MONTHLY">Miesięczny</option>
          <option value="QUARTERLY">Kwartalny</option>
          <option value="ANNUAL">Roczny</option>
        </select>
      </div>
<!--      <div class="dt-settings-option form-group">-->
<!--        <label for="doctor-email-input">Email osoby nadzorującej leczenie</label>-->
<!--        <input type="email" id="doctor-email-input" class="form-control" formControlName="doctorEmail"/>-->
<!--        <small class="form-error-small" *ngIf="validateSettingsField('doctorEmail', 'email')">Invalid email.</small>-->
<!--      </div>-->
      <div class="dt-settings-option form-group">
        <label for="timewindow-input">Okno czasowe dla pomiaru (minuty)</label>
<!--        <input type="number" id="timewindow-input" class="form-control" min="5" max="30" formControlName="timeWindow"/>-->
        <select class="form-control" id="timewindow-input" formControlName="timeWindow">
          <option value="5">5 minut</option>
          <option value="10">10 minut</option>
          <option value="15">15 minut</option>
          <option value="20">20 minut</option>
          <option value="25">25 minut</option>
          <option value="30">30 minut</option>
        </select>
        <small class="form-error-small" *ngIf="validateSettingsField('timeWindow', 'min')">Minimalne okno czasowe to 5 minut.</small>
        <small class="form-error-small" *ngIf="validateSettingsField('timeWindow', 'max')">Maksymalne okno czasowe to 30 minut.</small>
      </div>
      <div class="dt-settings-option form-check">
        <input type="checkbox" class="form-check-input" id="include-blood-pressure" formControlName="includeBloodPressure"/>
        <label for="include-blood-pressure" class="form-check-label">Badane ciśnienie krwi?</label>
      </div>
      <div class="dt-settings-buttons form-group">
        <button class="btn btn-success col-sm-3" (click)="postSettingsHandler()" [disabled]="!areSettingsFieldsValid(['doctorEmail', 'timeWindow'])">Zapisz</button>
      </div>
    </form>
  </div>
  <div class="dt-settings-placeholder">&nbsp;</div>
</div>
