#dt-settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .dt-settings-placeholder {
    width: 15%;
  }
  .dt-settings-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    //border: 1px solid black;

    //border-radius: 10px;
    width: 35%;

    .dt-settings-option {
      display: flex;
      text-align: left;
      flex-direction: column;
      margin: 2%;
    }
  }
}

