<div id="dt-patient-schedule">
  <div class="alert alert-success" *ngIf="addSuccess">Dodano nowy punkt harmonogramu</div>
  <div class="alert alert-danger" *ngIf="addFailure">Błąd przy dodawaniu nowego punktu harmonogramu.</div>
  <h1>Harmonogram</h1>
  <div class="dt-schedule-navbar">
    <div class="dt-navbar-button" [class.dt-navbar-button-focus]="pageFocus === 'list'" (click)="changeFocus('list')">
      Istniejące
    </div>
    <div class="dt-navbar-button" [class.dt-navbar-button-focus]="pageFocus === 'new'" (click)="changeFocus('new')">
      Dodaj nowy
    </div>
  </div>
  <div class="dt-schedule-container" *ngIf="pageFocus === 'new'">
    <div class="dt-schedule-panel">
      <h5>Wpisz nowy punkt harmonogramu</h5>
      <div class="dt-schedule-item form-group">
        <label for="schedule-input-time">Godzina</label>
        <input type="time" class="form-control" id="schedule-input-time" [(ngModel)]="newPatientSchedule.time"/>
      </div>
      <div class="dt-schedule-item">
        <span>Typ</span>
      </div>
      <div class="dt-schedule-radio form-group">
        <input type="radio"
               class="form-control col-sm-1"
               id="input-radio-measurement"
               name="schedule-input-type"
               value="MEASUREMENT"
               [(ngModel)]="newPatientSchedule.type"
        />
        <label for="input-radio-measurement">Pomiar</label>
      </div>
      <div class="dt-schedule-radio form-group">
        <input type="radio"
               class="form-control
               col-sm-1"
               id="input-radio-medicine"
               name="schedule-input-type"
               value="MEDICINE"
               [(ngModel)]="newPatientSchedule.type"
        />
        <label for="input-radio-medicine">Inne (np. lekarstwa)</label>
      </div>
      <div class="dt-schedule-item form-group">
        <label for="schedule-input-name" *ngIf="newPatientSchedule.type==='MEASUREMENT'">Nazwa</label>
        <label for="schedule-input-name" *ngIf="newPatientSchedule.type==='MEDICINE'">Opis (np. lek do wzięcia)</label>
        <input type="text" class="form-control input-text" id="schedule-input-name" [(ngModel)]="newPatientSchedule.name"/>
      </div>
      <div class="dt-schedule-item form-group" *ngIf="newPatientSchedule.type === 'MEASUREMENT'">
        <label for="schedule-input-timewindow">Okno czasowe (w minutach)</label>
<!--        <input type="number" class="form-control" id="schedule-input-timewindow" [(ngModel)]="newPatientSchedule.time_window"/>-->
        <select class="form-control" id="schedule-input-timewindow" [(ngModel)]="newPatientSchedule.time_window">
          <option value="5">5 minut</option>
          <option value="10">10 minut</option>
          <option value="15">15 minut</option>
          <option value="20">20 minut</option>
          <option value="25">25 minut</option>
          <option value="30">30 minut</option>
        </select>
      </div>
      <div class="alert alert-danger" style="display: flex; flex-direction: column" *ngIf="displayColliding===true">
        <span>Ten punkt harmonogramu wchodzi w kolizję z następującymi: </span>
        <span *ngFor="let sched of collidingSchedules">{{sched.time}} +/- {{sched.time_window}} - {{sched.name}}, </span>
      </div>
      <div class="dt-schedule-buttons form-group">
        <button class="btn btn-success col-sm-4" (click)="newScheduleHandler()">Zapisz</button>
      </div>
    </div>
  </div>
  <div class="dt-schedule-container" *ngIf="pageFocus === 'list'">
    <div class="dt-schedule-panel">
      <h5>Harmonogram pomiarów</h5>
      <table class="table table-active">
        <thead>
        <tr>
          <th scope="col">Godzina</th>
          <th scope="col">Opis</th>
          <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let schedule of measurementScheduleList">
          <td class="dt-schedule-row" routerLink="/dashboard/schedule/{{schedule.id}}">{{schedule.time}} +/- {{schedule.time_window}} minut</td>
          <td class="dt-schedule-row" routerLink="/dashboard/schedule/{{schedule.id}}">{{schedule.name}}</td>
          <td><button class="btn btn-danger" (click)="deleteScheduleHandler(schedule.id)">Usuń</button></td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="dt-schedule-panel">
      <h5>Inne przypomnienia</h5>
      <table class="table table-active">
        <thead>
        <tr>
          <th scope="col">Godzina</th>
          <th scope="col">Opis</th>
          <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr class="dt-schedule-row" *ngFor="let schedule of otherScheduleList" routerLink="/dashboard/schedule/{{schedule.id}}">
          <td>{{schedule.time}}</td>
          <td>{{schedule.name}}</td>
          <td><button class="btn btn-danger" (click)="deleteScheduleHandler(schedule.id)">Usuń</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
