#dt-patient-schedule {
  padding-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  .dt-schedule-navbar {
    background-image: linear-gradient(to bottom right, lightblue, white);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    display: flex;
    flex-direction: row;
    .dt-navbar-button {
      text-align: center;
      margin: auto;
      font-weight: bold;
    }
    .dt-navbar-button:hover {
      cursor: pointer;
    }
    .dt-navbar-button-focus {
      border-bottom: 2px solid #0074D9;
    }
  }
  .dt-schedule-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    .dt-schedule-panel {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3%;

      .dt-schedule-row:hover {
        cursor: pointer;
        background-color: white;
      }
      //border: 1px solid black;

      //border-radius: 10px;
      width: 35%;
      .dt-schedule-item {
        display: flex;
        text-align: left;
        flex-direction: column;
        margin: 2%;
        input {
          text-align: center;
        }
        .input-text {
          text-align: left;
        }
      }
     .dt-schedule-radio {
       display: flex;
       flex-direction: row;
       margin-right: auto;
     }
      .dt-schedule-buttons {

      }
    }
  }
}
