#dt-report-printable {
  padding-top: 2%;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.report-table-bundle {
  font-size: 10pt;
  border: 1px solid black;

}
.report-table-cell {
  width: 52px;
  border-left: 1px solid black;
  text-align: center;
}
.report-table-row {
  text-align: left;
}
.dt-report-legend {
  display: flex;
  flex-direction: column;
}
.dt-result-incorrect {
  background: #e68d76!important;
}
.dt-blood-pressure-incorrect {
  color: #d40000;
  text-decoration: underline;
  font-weight: bold;
}
