<div style="width: 60%; margin: 1%; padding-top: 1%">
  <button
    printSectionId="dt-report-printable"
    [useExistingCss]="true"
    class="btn btn-info"
    ngxPrint><i class="fas fa-print"></i> Drukuj</button>
</div>
<div id="dt-report-printable">
  <div class="dt-report-legend">
    <h1>Diabetes assistant</h1>
    <span>Pacjent: <b>{{userBrief.firstname}} {{userBrief.lastname}}</b></span>
    <span>Numer telefonu: <b>{{userProfile.phoneNumber}}</b></span>
    <span>Typ raportu: <b>{{reportDto.type==="PERIODIC_REPORT"?"Okresowy":"Wygenerowany ręcznie"}}</b></span>
    <span>Przedział czasowy:<b> {{reportDto.start_date}}</b> do <b>{{reportDto.end_date}}</b></span>
    <span>Wygenerowano: <b>{{reportDto.creation_date}}</b></span>
  </div>
  <br/>
  <div style="width: 800px; height: 200px">
    <ngx-charts-line-chart
      [view]="view"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [results]="chartData"
      [autoScale]="true"
    >

    </ngx-charts-line-chart>
  </div>
  <br/>
  <div *ngFor="let reportTable of reportTableView">
    <span>{{reportTable.patient_schedule.time}} - {{reportTable.patient_schedule.name}}</span>
    <table class="report-table-bundle" *ngFor="let reportChunk of reportTable.table_data">
      <tbody>
      <tr class="report-table-row">
        <th>
          D
        </th>
        <td *ngFor="let date of reportChunk" class="report-table-cell">
          {{date.date}}
        </td>
      </tr>
      <tr class="report-table-row">
        <th>
          G
        </th>
        <td *ngFor="let glucose of reportChunk" class="report-table-cell" [class.dt-blood-pressure-incorrect]="!isGlucoseCorrect(glucose.glucose) && glucose.glucose!=='-'">
          {{formatNumber(glucose.glucose, 2)}}
        </td>
      </tr>
      <tr class="report-table-row" *ngIf="userBrief.patient_settings.includeBloodPressure">
        <th>
          B
        </th>
        <td *ngFor="let bloodPressure of reportChunk" class="report-table-cell">
          <span [class.dt-blood-pressure-incorrect]="!isBloodPressureUpperCorrect(bloodPressure.blood_pressure) && bloodPressure.blood_pressure!=='-/-'">{{formatBloodPressureFirst(bloodPressure.blood_pressure)}}</span>/<span [class.dt-blood-pressure-incorrect]="!isBloodPressureLowerCorrect(bloodPressure.blood_pressure) && bloodPressure.blood_pressure!=='-/-'">{{formatBloodPressureSecond(bloodPressure.blood_pressure)}}</span>
        </td>
      </tr>
      </tbody>
    </table>
    <br/>
  </div>
  <div class="dt-report-legend">
    <span>Oznaczenia:</span>
    <span>D - data</span>
    <span>G - glukoza (jednostka: {{simpleUnitTranslator(userBrief.default_glucose_unit)}})</span>
    <span *ngIf="userBrief.patient_settings.includeBloodPressure">B - ciśnienie krwi (jednostka: mmHg)</span>
  </div>

</div>
