#measurement-details-component {
  padding-top: 6%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  .dt-measurement-navbar {
    background-image: linear-gradient(to bottom right, lightblue, white);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    display: flex;
    flex-direction: row;
    .dt-navbar-button {
      text-align: center;
      margin: auto;
      font-weight: bold;
    }
    .dt-navbar-button:hover {
      cursor: pointer;
    }
    .dt-navbar-button-focus {
      border-bottom: 2px solid #0074D9;
    }
  }
  .measurement-details-panel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: 1px solid black;
    padding: 1%;
    border-radius: 25px;
    min-width: 500px;
    .dt-table-row {
      display: flex;
      flex-direction: row;
      text-align: center;
      margin: 0.5%;
    }
    .dt-table-button {
      text-align: center;
      margin-top: 1%;
      button {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
