<div id="measurement-details-component">
  <div class="alert alert-success" *ngIf="editSuccess===true">Edytowano pomiar.</div>
  <div class="alert alert-danger" *ngIf="editFailure===true">Edycja zakończona niepowodzeniem.</div>
  <h1>Szczegóły pomiaru</h1>
  <div class="dt-measurement-navbar">
    <div class="dt-navbar-button" [class.dt-navbar-button-focus]="pageFocus === 'details'" (click)="changeFocus('details')">
      Wyświetlanie
    </div>
    <div class="dt-navbar-button" [class.dt-navbar-button-focus]="pageFocus === 'edit'" (click)="changeFocus('edit')" *ngIf="measurement.editable">
      Edycja
    </div>
  </div>
  <div class="measurement-details-panel">
    <div *ngIf="pageFocus==='details'">
      <div class="dt-table-row">
        <div class="col-sm-7">Data</div>
        <div class="col-md-12">{{measurement.date}}</div>
      </div>
      <div class="dt-table-row">
        <div class="col-sm-7">Godzina</div>
        <div class="col-md-12">{{measurement.time}}</div>
      </div>
      <div class="dt-table-row">
        <div class="col-sm-7">Glukoza</div>
        <div class="col-md-12">{{measurement.glucose_value}} [{{simpleUnitTranslator(measurement.glucose_unit)}}]</div>
      </div>
      <div class="dt-table-row" *ngIf="userBrief.patient_settings.includeBloodPressure===true">
        <div class="col-sm-7">Ciśnienie krwi</div>
        <div class="col-md-12">{{measurement.blood_pressure_upper}}/{{measurement.blood_pressure_lower}} [{{measurement.blood_pressure_unit}}]</div>
      </div>
      <div class="dt-table-row" *ngIf="measurement.patient_comment != null && measurement.patient_comment != ''">
        <div class="col-sm-7">Dodatkowy opis</div>
        <div class="col-md-12">{{measurement.patient_comment}}</div>
      </div>
      <div class="dt-table-row" *ngIf="measurement.patient_schedule != null">
        <div class="col-sm-7">Harmonogram</div>
        <div class="col-md-12">{{measurement.patient_schedule.time}} - {{measurement.patient_schedule.name}}</div>
      </div>
    </div>
    <div *ngIf="pageFocus==='edit'">
      <div class="dt-table-row form-group">
        <div class="col-sm-7">Glukoza</div>
        <input type="number" class="form-control" [(ngModel)]="measurement.glucose_value"/>
        <span>{{simpleUnitTranslator(measurement.glucose_unit)}}</span>
      </div>
      <div class="dt-table-row form-group">
        <div class="col-sm-7">Ciśnienie skurczowe</div>
        <input type="number" class="form-control" [(ngModel)]="measurement.blood_pressure_upper"/>
        <span>mmHg</span>
      </div>
      <div class="dt-table-row form-group">
        <div class="col-sm-7">Ciśnienie rozkurczowe</div>
        <input type="number" class="form-control" [(ngModel)]="measurement.blood_pressure_lower"/>
        <span>mmHg</span>
      </div>
      <div class="dt-table-row form-group">
        <div class="col-sm-7">Opis</div>
        <input type="text" class="form-control" [(ngModel)]="measurement.patient_comment"/>
      </div>
      <div class="dt-table-button">
        <button class="btn btn-success" (click)="handleEdit()">Zapisz</button>
      </div>
    </div>
  </div>
</div>
