<div id="dt-reports">
  <div class="alert alert-success" *ngIf="generationSuccess">Raport wygenerowany.</div>
  <div class="alert alert-danger" *ngIf="generationFailure">Coś poszło nie tak!</div>
  <h1>Raporty</h1>
  <div class="report-generate-form">
      <div class="form-group">
        <label for="input-start-date">Początek</label>
        <input id="input-start-date" type="date" class="form-control" [(ngModel)]="requestDto.start_date"/>
      </div>
      <div class="form-group">
        <label for="input-end-date">Koniec</label>
        <input id="input-end-date" type="date" class="form-control" [(ngModel)]="requestDto.end_date"/>
      </div>
    <div class="form-group">
      <button class="btn btn-info" (click)="generateReport()">Wygeneruj raport</button>
    </div>
  </div>
  <div class="dt-report-panel" *ngIf="reportList!==null">
    <table class="table table-active">
      <thead>
        <tr>
          <th scope="col">Data utworzenia</th>
          <th scope="col">Okres</th>
          <th scope="col">Typ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reportBrief of reportList" class="dt-report-row" routerLink="/dashboard/report/{{reportBrief.id}}">
          <td>
            {{reportBrief.creation_date}}
          </td>
          <td>
            {{reportBrief.start_date}} do {{reportBrief.end_date}}
          </td>
          <td>
            {{reportBrief.type==="PERIODIC_REPORT"?"Raport okresowy":"Raport wywołany ręcznie"}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
