#dt-reports {
  padding-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
 .report-generate-form {
   display: flex;
   flex-direction: row;
   margin: auto;
   border: 1px solid black;
   border-radius: 25px;
   padding: 1%;
   input {
     text-align: center;
     width: 90%;
   }
   button {
     margin-top: 20%;
   }
   .report-button {

   }
 }
  .dt-report-panel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

    .dt-report-row:hover {
      background-color: white;
      cursor: pointer;
    }

    //border: 1px solid black;

    //border-radius: 10px;
    width: 60%;
    .dt-report-item {
      display: flex;
      text-align: left;
      flex-direction: column;
      margin: 2%;
      input {
        text-align: center;
      }
      .input-text {
        text-align: left;
      }
    }
    .dt-report-radio {
      display: flex;
      flex-direction: row;
      margin-right: auto;
    }
    .dt-report-buttons {

    }
  }
}
