#dt-dashboard-homepage {
  padding-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }

  .dt-homepage-menu-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    .dt-homepage-column {
      //background-image: linear-gradient(to bottom right, lightblue, white);
      border-radius: 25px;
      border: 1px solid lightgray;
      margin: auto;
      width: 25%;
      display: flex;
      flex-direction: column;
      text-align: center;
      h5 {
        text-align: center;
      }
      .column-item {
        margin: auto;
      }
    }
    .column-placeholder {
      margin: auto;
      content: '&nbsp;';
    }
  }
}
