<div id="dt-dashboard-homepage">
  <h1>Witamy!</h1>
  <div class="dt-homepage-menu-container">
<!--    <div class="dt-homepage-column">-->
<!--      -->
<!--    </div>-->
<!--    <div class="column-placeholder">&nbsp;</div>-->
    <div class="dt-homepage-column">
      <div *ngIf="patient_brief.active_schedules.length>0">
        <h5>Aktywny pomiar:</h5>
        <ng-container *ngFor="let sched of patient_brief.active_schedules">
          <span>{{sched.time}} - {{sched.name}}</span>
        </ng-container>
      </div>
      <div *ngIf="patient_brief.next_schedule !== null">
        <h5>Następny pomiar:</h5> {{patient_brief.next_schedule.time}} ({{patient_brief.next_schedule.name}})
      </div>
      <h5>Ostatnie pomiary</h5>
      <ng-container *ngIf="patient_brief.measurements_today.measurement_list!==null">
        <div class="column-item">
          <table>
            <thead>
              <tr>
                <th>Godzina</th>
                <th>Glukoza</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let measurement of patient_brief.measurements_today.measurement_list">
                <td>{{measurement.time}}</td>
                <td>{{measurement.glucose_value}} {{simpleUnitTranslator(measurement.glucose_unit)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-container *ngIf="patient_brief.measurements_today.measurement_list===null || patient_brief.measurements_today.measurement_list.length===0">
        Brak pomiarów na dzisiaj.
      </ng-container>
    </div>
<!--    <div class="column-placeholder">&nbsp;</div>-->
  </div>
</div>
