<div id="dt-new-measurement">
  <div class="alert alert-success" *ngIf="addSuccess === true">Wstawiono wynik pomiaru.</div>
  <div class="alert alert-danger" *ngIf="addFailure === true">Niepowodzenie w stawieniu wyniku.</div>
  <div class="dt-measurement-form">
    <h1>Nowy pomiar</h1>
    <div class="glucose-measurement">
      <h5>Wpisz wynik pomiaru glukozy</h5>
      <div class="digit-input">
        <div class="digit-input-column" *ngFor="let inputDigit of pos_table">
          <div class="digit-input-bundle">
            <div class="digit-input-plus" (click)="incrementFunction(glucoseInput, inputDigit)">
              <i class="fas fa-plus"></i>
            </div>
            <input type="text" class="digit-input-field form-control" [(ngModel)]="glucoseInput[inputDigit]"/>
            <div class="digit-input-minus" (click)="decrementFunction(glucoseInput, inputDigit)">
              <i class="fas fa-minus"></i>
            </div>
          </div>
          <span class="input-digit-comma" *ngIf="inputDigit===2">,</span>
        </div>
        <span>&nbsp;{{getDefaultGlucoseValue().unit}}</span>
      </div>
    </div>
    <div class="blood-pressure-measurement" *ngIf="userBrief.patient_settings.includeBloodPressure === true">
      <h5>Ciśnienie krwi</h5>
      <div class="digit-input">
        <div class="digit-input-column" *ngFor="let inputDigit of pos_table">
          <div class="digit-input-bundle">
            <div class="digit-input-plus" (click)="incrementFunction(bloodPressureUpper, inputDigit)">
              <i class="fas fa-plus"></i>
            </div>
            <input type="text" class="digit-input-field form-control" [(ngModel)]="bloodPressureUpper[inputDigit]"/>
            <div class="digit-input-minus" (click)="decrementFunction(bloodPressureUpper, inputDigit)">
              <i class="fas fa-minus"></i>
            </div>
          </div>
          <span class="input-digit-comma" *ngIf="inputDigit===2">,</span>
        </div>
        <span>&nbsp;mmHg</span>
      </div>
      <div class="digit-input">
        <div class="digit-input-column" *ngFor="let inputDigit of pos_table">
          <div class="digit-input-bundle">
            <div class="digit-input-plus" (click)="incrementFunction(bloodPressureLower, inputDigit)">
              <i class="fas fa-plus"></i>
            </div>
            <input type="text" class="digit-input-field form-control" [(ngModel)]="bloodPressureLower[inputDigit]"/>
            <div class="digit-input-minus" (click)="decrementFunction(bloodPressureLower, inputDigit)">
              <i class="fas fa-minus"></i>
            </div>
          </div>
          <span class="input-digit-comma" *ngIf="inputDigit===2">,</span>
        </div>
        <span>&nbsp;mmHg</span>
      </div>
    </div>
    <div *ngIf="glucoseTooHigh() && buttonPressed" class="alert alert-danger">
      <i class="fas fa-exclamation-triangle"></i> Wysoki poziom glukozy!<br/>Opisz poniżej możliwą przyczynę
    </div>
    <div *ngIf="glucoseTooLow() && buttonPressed" class="alert alert-info">
      <i class="fas fa-exclamation-triangle"></i> Niski poziom glukozy!<br/>Opisz poniżej możliwą przyczynę
    </div>
    <div class="patient-comment-input" *ngIf="(glucoseTooHigh() || glucoseTooLow()) && buttonPressed">
      <input type="text" class="form-control" placeholder="Np. spożycie ciasta" [(ngModel)]="measurement.patient_comment"/>
    </div>
    <div class="save-measurement">
      <button class="btn btn-success" (click)="handleNewMeasurement()" [disabled]="addSuccess || addFailure">Zapisz</button>
    </div>
  </div>
</div>
