#dt-new-measurement {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .dt-measurement-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
    border: 1px solid black;
    align-items: center;
    border-radius: 10px;
    width: 40%;

    .blood-pressure-measurement {
      margin: 3%;
    }

    .save-measurement {
      margin: 1%;
    }
    .patient-comment-input {
      margin: 1%;
    }
    .digit-input {
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 207px;
      .digit-input-column {
        display: flex;
        flex-direction: row;
        .digit-input-bundle {
          display: flex;
          flex-direction: column;
          .digit-input-plus {

          }
          .digit-input-plus:hover {
            cursor: pointer;
            background-image: radial-gradient(#e68d76, white);
          }.digit-input-minus {

           }
          .digit-input-minus:hover {
            cursor: pointer;
            background-image: radial-gradient(#87e6c1, white);
          }
          .digit-input-field {
            width:40px;
            text-align: center;
          }
        }
        .input-digit-comma {
          padding-top: 50%;
          font-size: 20pt;
        }
      }
    }
  }

}
