/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

html {
  height:100%;
  body {
    font-family: 'Varela Round', sans-serif;
    min-height: 100%;
    background-color: #f6f6f6;
  }
}

.dt-spacer {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}
.form-error-small {
  color: #d61a25;
}
.form-error-input {

}
