#dt-login-container {
  height: 100%;
  position: absolute;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dt-alert {
    width: 50%;
    align-content: center;
    text-align: center;
  }
  .dt-spacer-login {
    margin-top: 3%;
  }
  .dt-login-box {
    form {
      background-image: linear-gradient(to bottom right, lightblue, white);
      width: 350px;
      height: 350px;
      border: 1px solid lightgray;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      //transform: translateY(75%);
      h1 {
        margin-top: 7%;
      }
      .dt-input-bundle {
        width: 80%;
        input {
          border-radius: 8px;
        }
      }
      .dt-check-bundle {
        align-items: normal;
        display: flex;
      }
      .register-info {
        cursor: pointer;
      }
    }


    button {
      margin-top: 3%;
    }
  }
}
