
<div id="dt-login-container">
  <div class="dt-spacer-login">&nbsp;</div>
  <h1>Diabetes Assistant</h1>
  <div class="dt-spacer-login">&nbsp;</div>
  <div class="alert alert-success dt-alert alert-dismissible" *ngIf="status === 'logout'">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Udane wylogowanie.
  </div>
  <div class="alert alert-danger dt-alert alert-dismissible" *ngIf="loginFailure">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Nieudane logowanie: </strong><span>{{loginStatusMessage}}</span></div>
  <div class="alert alert-danger dt-alert alert-dismissible" *ngIf="status === '401'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sesja wygasła.</div>
  <div class="alert alert-info dt-alert" *ngIf="loginSuccess === true">Zalogowano. Za chwilę nastąpi przekierowanie...</div>

  <div class="dt-login-box">
    <form>
      <h1>Zaloguj się</h1>

      <div class="form-group dt-input-bundle">
        <label for="input-username" class="">E-mail</label>
        <input id="input-username" type="email" class="form-control" name="email" placeholder="Np. user@example.com" [(ngModel)]="username"/>
      </div>
      <div class="form-group dt-input-bundle">
        <label for="input-password" class="">Hasło</label>
        <input id="input-password" type="password" class="form-control" name="password" placeholder="Hasło" [(ngModel)]="password"/>
      </div>
      <div class="form-check dt-check-bundle">
        <label for="input-rememberMe" class="form-check-label">Zapamiętaj mnie</label>
        <input id="input-rememberMe" type="checkbox" class="form-check-input" name="rememberMe" [(ngModel)]="rememberMe"/>
      </div>
      <button type="submit" class="btn btn-info" (click)="login()">Zaloguj</button>
      <span class="register-info" routerLink="/register">Brak konta? Zarejestruj się!</span>
    </form>
  </div>
  <div class="dt-spacer">&nbsp;</div>
</div>
