<div id="dt-dashboard-container">
  <app-dt-user-sidebar></app-dt-user-sidebar>
<!--  <div class="dt-placeholder">-->
<!--    <h1>Coś tu będzie</h1>-->
<!--  </div>-->

  <div id="dt-dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>
