<div id="dt-patient-schedule">
  <div class="alert alert-success" *ngIf="editSuccess">Pomyślnie edytowano.</div>
  <div class="alert alert-danger" *ngIf="editFailure">Coś poszło nie tak! Upewnij się, że punkt harmonogramu nie wejdzie w kolizję z innym.</div>
  <div class="dt-schedule-container">
    <div class="dt-schedule-panel">
      <h1>Edytuj punkt harmonogramu</h1>
      <div class="dt-schedule-item form-group">
        <label for="schedule-input-time">Godzina</label>
        <input type="time" class="form-control" id="schedule-input-time" [(ngModel)]="patientSchedule.time" disabled/>
      </div>
      <div class="dt-schedule-item">
        <span>Typ</span>
        <input class="form-control" value="{{patientSchedule.type==='MEASUREMENT'?'Pomiar':'Inne'}}" disabled/>
      </div>
      <div class="dt-schedule-item form-group">
        <label for="schedule-input-name" *ngIf="patientSchedule.type==='MEASUREMENT'">Nazwa</label>
        <label for="schedule-input-name" *ngIf="patientSchedule.type==='MEDICINE'">Opis (np. lek do wzięcia)</label>
        <input type="text" class="form-control input-text" id="schedule-input-name" [(ngModel)]="patientSchedule.name"/>
      </div>
      <div class="dt-schedule-item form-group" *ngIf="patientSchedule.type === 'MEASUREMENT'">
        <label for="schedule-input-timewindow">Okno czasowe (w minutach)</label>
<!--        <input type="number" class="form-control" id="schedule-input-timewindow" [(ngModel)]="patientSchedule.time_window"/>-->
        <select class="form-control" id="schedule-input-timewindow" [(ngModel)]="patientSchedule.time_window">
          <option value="5">5 minut</option>
          <option value="10">10 minut</option>
          <option value="15">15 minut</option>
          <option value="20">20 minut</option>
          <option value="25">25 minut</option>
          <option value="30">30 minut</option>
        </select>
      </div>
      <div class="alert alert-danger" style="display: flex; flex-direction: column" *ngIf="displayColliding===true">
        <span>Ten punkt harmonogramu wchodzi w kolizję z następującymi: </span>
        <span *ngFor="let sched of collidingSchedules">{{sched.time}} +/- {{sched.time_window}} - {{sched.name}}, </span>
      </div>
      <div class="dt-schedule-buttons form-group">
        <button class="btn btn-success col-sm-4" (click)="editScheduleHandler()">Zapisz</button>
      </div>
    </div>
  </div>
</div>
