#dt-patient-schedule {
  padding-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  .dt-schedule-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    .dt-schedule-panel {
      margin-left: auto;
      margin-right: auto;
      margin-top: 3%;

      //border: 1px solid black;

      //border-radius: 10px;
      width: 30%;
      .dt-schedule-item {
        display: flex;
        text-align: left;
        flex-direction: column;
        margin: 2%;
        input {
          text-align: center;
        }
        .input-text {
          text-align: left;
        }
      }
      .dt-schedule-radio {
        display: flex;
        flex-direction: row;
        margin-right: auto;
      }
      .dt-schedule-buttons {

      }
    }
  }
}
