#dt-measurement-history {
  padding-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  h1 {
    text-align: center;
  }
  .history-searchbar {
    display: flex;
    flex-direction: row;
    min-width: 75%;
    margin: auto;
    background-image: linear-gradient(to bottom right, lightblue, white);
    padding: 10px;
    border-radius: 10px;
    .searchbar-item {
      display: flex;
      flex-direction: column;
      //margin: 1%;
      padding: 1%;
      .searchbar-desc {
        text-align: center;
      }
      .searchbar-input {
        min-width: 200px;
      }

      .date-separator {
        padding-top: 1.5%;
      }
      input {
        text-align: center;
      }
      .searchbar-input-row {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .dt-search-results {
    margin-top: 1%;
    //display: flex;
    min-width: 75%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    .results-header {
      font-weight: bold;

    }
    .results-row {
      background-color: #ececec;
      //margin: 1%;
      padding: 1%;
      min-width: 75%;
      cursor: pointer;
    }
    .results-row:hover {
      background-color: white;
    }
  }
  .dt-empty-list {
    text-align: center;
    margin-top: 1%;
  }
  .page-bar {
    background-image: linear-gradient(to bottom right, lightblue, white);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    .page-bar-placeholder {
      margin: auto;
    }
    .page-bar-item {
      margin: 1%;
    }
    .page-bar-button {
      cursor: pointer;
    }
  }
}
