<div id="dt-measurement-history">
  <div class="alert alert-success" *ngIf="deletionSuccess">Usunięto wybrane badanie</div>
  <div class="alert alert-danger" *ngIf="deletionFailure">Niepowodzenie w usuwaniu badania</div>
  <h1>Historia pomiarów</h1>
  <div class="history-searchbar">
    <div class="searchbar-item">
      <div class="searchbar-desc">
        Tryb szukania
      </div>
      <div class="searchbar-input">
        <input type="radio"
               name="search-mode"
               value="latest"
               id="input-searchmode-latest"
               [(ngModel)]="search_mode"
        />&nbsp;
        <label for="input-searchmode-latest">Ostatnie</label>&nbsp;
        <input
          type="radio"
          name="search-mode"
          value="date"
          id="input-searchmode-date"
          [(ngModel)]="search_mode"
        />&nbsp;
        <label for="input-searchmode-date">Po dacie</label>
      </div>
    </div>
    <div class="searchbar-item">
      <div class="searchbar-desc">
        Wpisów na stronę
      </div>
      <div class="searchbar-input">
        <select id="input-page-size" class="form-control" [(ngModel)]="requestDto.paging_info.page_size" (change)="populateList()">
          <option *ngFor="let pageSize of searchbarPageSizes" value="{{pageSize}}">{{pageSize}}</option>
        </select>
      </div>
    </div>
    <div class="searchbar-item" *ngIf="search_mode==='latest'">
      <div class="searchbar-desc">
        Okres wyszukiwania
      </div>
      <div class="searchbar-input">
        <select id="select-latest" class="form-control" [(ngModel)]="requestDto.date_scope" (change)="populateList()">
          <option value="DAY">Ostatni dzień</option>
          <option value="WEEK">Ostatni tydzień</option>
          <option value="MONTH">Ostatni miesiąc</option>
          <option value="YEAR">Ostatni rok</option>
        </select>
      </div>
    </div>
    <div class="searchbar-item" *ngIf="search_mode==='date'">
      <div class="searchbar-desc">
        Przedział czasowy
      </div>
      <div class="searchbar-input-row">
        <input type="date" id="input-start-date" class="form-control" [(ngModel)]="requestDto.start_date"/>
        <span class="date-separator">do</span>
        <input type="date" id="input-stop-date" class="form-control" [(ngModel)]="requestDto.stop_date"/>
      </div>
    </div>
    <div class="searchbar-item">
      <div class="searchbar-desc">
        &nbsp;
      </div>
      <div (click)="populateList()">
        <button class="btn btn-primary btn-info">Szukaj</button>
      </div>
    </div>
  </div>

  <div class="dt-search-results" *ngIf="measurementList !== null && measurementList.measurement_list.length>0">
    <div class="table container">
      <div class="row results-header">
        <div class="col-sm-4">Data, godzina</div>
        <div class="col-sm-2">Glukoza</div>
        <div class="col-sm-4">Ciśnienie krwi</div>
        <div class="col-sm">Czynności</div>
      </div>
      <div class="row results-row" *ngFor="let measurement of measurementList.measurement_list" routerLink="/dashboard/measurement/{{measurement.id}}">
        <div class="col-sm-4 results-column">
          {{measurement.date}}, {{measurement.time}}
        </div>
        <div class="col-sm-2 results-column">{{measurement.glucose_value.toFixed(2)}} [{{simpleUnitTranslator(measurement.glucose_unit)}}]</div>
        <div class="col-sm-4 results-column">
          {{measurement.blood_pressure_upper!==null?measurement.blood_pressure_upper.toFixed(2):'-'}}
          /
          {{measurement.blood_pressure_lower!==null?measurement.blood_pressure_lower.toFixed(2):'-'}}
          {{measurement.blood_pressure_unit!==null?measurement.blood_pressure_unit:''}}
        </div>
        <div class="col-sm">
          <button class="btn btn-danger"
                  (click)="deleteButtonHandler(measurement.id)"
                  [disabled]="!measurement.editable"
                  title="{{measurement.editable?'Usuń pomiar':'Nie można usunąć, pomiar jest częścią raportu.'}}"

          ><i class="fas fa-trash-alt"></i> Usuń
          </button>
        </div>
      </div>
    </div>
    <div class="page-bar">
      <div class="page-bar-placeholder">&nbsp;</div>
      <div class="page-bar-item page-bar-button" (click)="previousButtonHandler()">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="page-bar-item">{{measurementList.paging_info.page_number+1}}</div>
      <div class="page-bar-item">z</div>
      <div class="page-bar-item">{{measurementList.paging_info.total_page_count}}</div>
      <div class="page-bar-item page-bar-button" (click)="nextButtonHandler()">
        <i class="fas fa-arrow-right"></i>
      </div>
      <div class="page-bar-placeholder">&nbsp;</div>
    </div>
  </div>
  <div
    *ngIf="!(measurementList !== null && measurementList.measurement_list.length>0)" class="dt-empty-list">Widok nie zawiera żadnych elementów.</div>
</div>
