<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raport tygodniowy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet"/>
    <style>
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .table-horizontal {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
    <h1>Diabetes assistant</h1>
    <h2 th:text="${report.getCreationDate()}"></h2>
    <span>Okres: </span><span th:text="${report.getStartDate()}"></span> do <span th:text="${report.getEndDate()}"></span>
    <th:block th:each="tableData: ${dataForTables}">
        <span th:text="${tableData.getPatientSchedule().getTime()}"></span><span th:text="${tableData.getPatientSchedule().getName()}"></span>
        <br/>
        <table class="table-horizontal">
            <tr>
                <th>Data</th>
            </tr>
            <tr>
                <th>Glukoza</th>
            </tr>
            <tr>
                <th>Ciśnienie krwi</th>
            </tr>
        </table>
    </th:block>

<!--    <table class="table-horizontal">-->
<!--        <tr>-->
<!--            <th>Data</th>-->

<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Glukoza</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Ciśnienie krwi</th>-->
<!--        </tr>-->
<!--    </table>-->
</body>
</html>